@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
@import 'reset';
@import 'variables';
// @import 'nav';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Spartan', Helvetica, sans-serif;
  font-size: 1.2rem;
}

.slide {
  display: none;
}

// .slide h2 {
//   @include respond(tab-port) {
//     font-size: 3.7rem;
//   }
// }

.header {
  // padding: 3rem 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  padding-top: 4rem;

  @include respond(tab-port) {
    width: 100%;
    margin: auto;
    padding: 6rem 0 12rem;
  }

  &__logo {
    width: 13rem;

    @include respond(tab-port) {
      margin-right: 4rem;
      width: 17rem;
    }
  }

  &__button-container {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__menu {
    font-size: 1.9rem;
    display: none;

    @include respond(tab-port) {
      display: flex;
      margin-right: auto;
    }

    &__menu-item {
      @include respond(tab-port) {
        align-self: stretch;
      }

      list-style: none;
      padding-bottom: 3rem;
      padding-top: 3rem;
      border: 3px solid transparent;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        color: grey;

        &:not(:last-child) {
          margin-right: 3rem;
        }

        &:hover {
          color: black;
        }
      }
      @include respond(tab-land) {
        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
  &__nav-container {
    display: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.5)
    );
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @include respond(tab-port) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background: none;
      position: unset;
      height: unset;
    }
  }

  &__nav-links {
    display: flex;
    // flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #fff;
    position: absolute;
    // top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.2rem;
    // border-radius: 5px;

    @include respond(tab-port) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      background-color: transparent;
      position: unset;
      width: 100%;
      top: unset;
      left: unset;
      transform: translateX(0%);
      padding: 0;
    }
  }

  &__nav-item {
    padding: 0.8rem 0;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      color: grey;
    }

    @include respond(tab-port) {
      color: white;
      margin-right: 2.5rem;
      transition: all 0.3s;
      padding: 0;
    }
  }
}

// Navigation for mobile
.mobile-nav {
  font-size: 3rem;
  @include respond(tab-port) {
    display: none;
  }
}

.fa-bars:before {
  color: white;
}

.nav-container {
  display: none;
}

.show-mobile-nav {
  display: block;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.elevate-element {
  z-index: 999;
}

//end of nav

//GRID BOXES

//top
.hero-section {
  position: relative;
  @include respond(tab-port) {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}

.sliding-text {
  @include respond(tab-port) {
    grid-column: 6/10;
    grid-row: 1/2;
  }
}

.dark-image {
  width: 100%;
  @include respond(tab-port) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.dark-image img {
  width: 100%;
  height: 300px;
}

.light-image {
  @include respond(tab-port) {
    grid-column: 7/10;
    grid-row: 2/3;
  }
}

.bottom-content {
  @include respond(tab-port) {
    width: 100%;
    margin: 0;
    // padding-top: 0;
    padding: 5rem 4rem;
    padding-bottom: 0;
    grid-column: 4/7;
    grid-row: 2/3;
  }
}

.light-image img {
  width: 100%;
  height: 300px;
}

.prev,
.next {
  background-color: black;
  color: white;
  border: none;
  // padding: 2rem;
  outline: none;
  height: 5.5rem;
  width: 6.5rem;
}

.slide,
.bottom-content {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }

  p {
    margin-bottom: 2rem;
  }

  button {
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2rem;
  }
}

.arrow {
  display: inline-block;
}

.arrow-container {
  background-color: black;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
  @include respond(tab-port) {
    padding: 2rem 3.9rem;
    right: -190px;
  }
}

// .arrow-container {
//   background-color: black;
//   position: absolute;
//   right: 0;
//   top: 50vh;
//   bottom: 0px;
//   transform: translateY(-3.5rem);
// }

//

.grid {
  @include respond(tab-land) {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, minmax(min-content, auto));
    // grid-gap: 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

///test header
.header1 {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.nav1__logo {
  display: none;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;

  @include respond(tab-port) {
    text-align: left;
    width: auto;
  }
}

.nav1 {
  min-height: 120px;
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  // background-color: #fff;
  padding: 0 5%;
  background-color: white;
}

//
.open .nav1 {
  background-color: transparent;

  &__logo {
    display: inline-block;
  }

  &__ul {
    display: none;

    @include respond(tab-port) {
      display: flex;
      justify-content: flex-start;
    }
  }
}

///
.opened {
  background-color: white !important;
}

.btn-open1 {
  background: url(../images/icon-hamburger.svg) no-repeat center center;
  border: none;
  // width: 1rem;
  // width: 40%;
  width: 25px;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn-close1 {
  background: url(../images/icon-close.svg) no-repeat center center;
  border: none;
  // width: 1rem;
  // width: 40%;
  width: 25px;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.nav1__ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: 7rem;

  @include respond(tab-port) {
    justify-content: flex-start;
    margin-left: 0;
  }
  &__li {
    position: relative;
    color: #000;
    font-weight: 700;
    text-transform: lowercase;
    margin-left: 12.5%;
    font-size: 1.4rem;
    cursor: pointer;

    @include respond(tab-port) {
      color: white;
      margin-left: 3rem;
    }
  }
}

.btn-container {
  @include respond(tab-port) {
    display: none;
  }
}

//remove gap at bottom of image
.image-slide img {
  vertical-align: middle;
}
